@model IEnumerable<FAQCheckpoint2.Models.Staff_Members>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="feature-event">
        <div class="row">
            <div class="col-sm-12">
                <div class="feature-content">
                    <span><i class="fas fa-home"></i> / about / Meet our doctors</span>
                    <h1>Staff Members Directory</h1>
                    <p>
                        Here is a list of all the doctors that are currently working on this hospital.
                    </p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">

                            <form action="#" method="post" role="search" id="staff-seach-frm" class="search-form">
                                <input type="submit" value="" name="btn-search" id="btn-search" class="search-submit">
                                <input type="search" name="search" id="searchStaff" class="search-text" placeholder="Search question..." autocomplete="off">
                            </form>
                            <ul class="list-group">
                            @foreach (var item in ViewBag.Departments){
                             <a href="#"><li class="list-group-item staff_dep">@item.Name</li></a>     
                            }
                            </ul>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <br />

                           
                                <div id="Staff_Members_List">
                                    @Html.Partial("~\\Views\\Staff_Members\\IndexList.cshtml",Model)

                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function () {

        $("ul.list-group .staff_dep").on('click', function () {
            var dep = $(this).text();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchByDep", "Staff_Members")',
                data: { deparment: dep },
                success: function (data) {
                    $("#Staff_Members_List").html(data);
                }
            });
            return false;
        });

        $("#staff-seach-frm").submit(function (event) {
            var search = $("#searchStaff").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Search_By_Question", "FAQs")',
                data: { search: search },
                success: function (data) {
                    $("#search-results").html(data);
                }
            });
            event.preventDefault();
        });
    });
</script>
<style>
    #Staff_Members_List a{
        color:inherit;
    }
</style>