@model IEnumerable<FAQCheckpoint2.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="faq-banner">
</div>
<div class="container">
    <div class="feature-event">
        <div class="row justify-content-center">
            <div class="col-regular">
                <div class="feature-content">
                    <span><i class="fas fa-home"></i> / about / events</span>
                    <h1>Events</h1>
                    <p>
                        Here is a list of most the employment opportunities currently available.
                    </p>
                    <div class="row justify-content-center">
                        <div class="col">
                            <br />
                            <div class="accordion">
                                @foreach (var item in Model)
                                {
                                    <div class="accordion">
                                        <a href=""><label>@Html.DisplayFor(modelItem => item.ev_title)</label></a>
                                        <div class="content">
                                            <div class="bolden"><label>Description:</label></div>
                                            <p>@Html.DisplayFor(modelItem => item.ev_description)</p>
                                            <p><div class="bolden d-inline-block"><label>Start Date:</label></div> @Html.DisplayFor(modelItem => item.ev_start_date)</p>
                                            <p><div class="bolden d-inline-block"><label>End Date:</label></div> @Html.DisplayFor(modelItem => item.ev_end_date)</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <p class="end-p">
                        We are open 24*7 seven days a week, please contact us at +1-(807)-223-8200 for more information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
